{% extends "layout.html" %}

{% block title %}
    BookBarge
{% endblock %}


{% block body %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><a href="/" style="color: saddlebrown;">BookBarge</a></h3>
          <nav class="nav nav-masthead justify-content-center white">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="#">Search</a>
            <a class="nav-link active disabled" href="/login">Log in</a>
          </nav>
        </div>
      </header>

    
      <main role="main" class="inner coverss" style="color: saddlebrown;">
   
<h6 class="h1 mb-3 font-weight-normal coverss">You have logged out... <a href="/login">Log in here</a></h6>


</main>

{% endblock %}