{% extends "layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><a href="/" style="color: saddlebrown;">BookBarge</a></h3>
          <nav class="nav nav-masthead justify-content-center white">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/search">Search</a>
            <a class="nav-link" href="/logout">Log out</a>
          </nav>
        </div>
      </header>
    
<div class="coverss"><h1 style="display: inline-block;"> Review Submitted.Thank You!</h1>
    <h6 class="h6 mb-3 font-weight-normal"> <a href="/search" style="color: aliceblue; display: inline-block;">go back here</a>
</h6>
    </div>



{% endblock %}